.sidebarcontainer {
    width: 10vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    top: 0;
    background-color: #03244c;
    display: flex;
    position: sticky;
  }
  
  .mainwindowcontainer {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    overflow: auto;
    flex-grow: 1;
  }
